[Unit]
Description=$DESCRIPTION
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=$USER
Group=$GROUP
Type=simple
ExecStart=$FULL_EXEC
WorkingDirectory=$TARGET_DIRECTORY
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

