%camera_stream ALL= NOPASSWD: /bin/systemctl restart camera_stream
%camera_stream ALL= NOPASSWD: /bin/systemctl start camera_stream
%camera_stream ALL= NOPASSWD: /bin/systemctl stop camera_stream
%camera_stream ALL= NOPASSWD: /bin/systemctl status camera_stream
